**/__pycache__/ 
*.py[cod]
temp/current.pth


#--------------------------------------------------------------------------------------------------
#--------------------------------------------------------------------------------------------------
# 忽略整個 results 目錄
results/** 
